.game-container {
  position: relative;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
  display: flex;
  height: 100%;
  background-color: #0ca783;
  min-width: fit-content;
  overflow: hidden;
  transition: all 0.4s ease 0s;
}

.game-container #view {
  --viewTransform: 0px;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.game-container div.lanes {
  display: flex;
  height: 100%;
  width: 100%;
  position: relative;
}

.game-container div.lanes .item:nth-child(odd) {
  min-width: 150px;
  background-color: #313463;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-container div.lanes .item:nth-child(even) {
  min-width: 150px;
  background-color: #313463;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.game-container div.lanes .line {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  min-width: 4px;
  background-color: white;
  background-image: repeating-linear-gradient(180deg,
      #fff,
      #fff 18px,
      #313463 18px,
      #313463 36px);
}

.game-container div.lanes [game-class="mul-text"] {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.game-container div.lanes img[game-class="pipe"] {
  opacity: 0.5;
}

.game-container div.lanes img[game-class="pipe"][active="true"]:hover {
  opacity: 1;
}

.game-container div.lanes img[game-class="pipe"][active="true"] {
  cursor: pointer;
}

.game-container div.lanes img[game-class="mul-text"][active="true"] {
  cursor: pointer;
}

.game-container .home {
  width: 180px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-position: left center;
  background-repeat: repeat-y;
  flex-shrink: 0;
  transform: rotateY(180deg);
  pointer-events: none;
  user-select: none;
  background-image: url("../assets/images/sideway.png");
}

.game-container .home img {
  transform: rotateY(180deg);
  position: absolute;
}

.game-container .end {
  width: 180px;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  background-position: left center;
  background-repeat: repeat-y;
  flex-shrink: 0;
  pointer-events: none;
  user-select: none;
  background-image: url("../assets/images/sideway.png");
}

.game-container .end img {
  position: absolute;
}

.game-container .end img:nth-child(1) {
  left: 92px;
}

.game-container .end img:nth-child(2) {
  left: 7px;
  z-index: 1;
}

#chicken {
  height: 100px;
  width: auto;
  position: absolute;
  top: calc(50% - 50px);
  z-index: 50;
  opacity: 1;
  transition: transform cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s;
}

.game-container div.lanes div.car {
  height: 100%;
  position: absolute;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  z-index: -1;
}

.game-container div.lanes div.car img[game-class="car"] {
  position: absolute;
  z-index: 99;
  width: 100px;
}

.game-container .coin {
  position: relative;
  opacity: 0;
  transform: translateY(0%) rotateY(180deg) scale(0.5) translateZ(0px);
  animation: stepClaimed 0.4s ease-out 0s 1 normal forwards running;
  z-index: 102;
}

@keyframes stepClaimed {
  0% {
    opacity: 0;
    transform: translateY(0%) rotateY(180deg) scale(0.5) translateZ(0px);
  }

  50% {
    opacity: 1;
    transform: translateY(-50%) rotateY(90deg) scale(1) translateZ(0px);
  }

  100% {
    opacity: 1;
    transform: translateY(0%) rotateY(0deg) scale(1) translateZ(0px);
  }
}

.game-container img[game-class="blocker-crack"] {
  position: absolute;
  transform: translateY(-60px);
  z-index: 2;
}

.game-container img[game-class="blocker"] {
  position: absolute;
  transform: translateY(-70px);
  z-index: 101;
}