main section#register-container {
  display: flex;
  padding: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 100vh;
  text-align: center;
}

main section#register-container h2.title {
  font-size: x-large;
  padding: 20px;
  font-weight: bold;
}

main section#register-container form {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
}

main section#register-container form div.form-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  max-width: 300px;
  padding: 16px;
}

main section#register-container form button {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(44, 40, 82);
  background-color: rgb(44, 40, 82);
  color: #fff;
}

main section#register-container form input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgb(44, 40, 82);
  background-color: transparent;
  color: #fff;
}

.no-stroke {
  -webkit-text-stroke: none !important;
}
